@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: #E5E5E5;
}

#data-details {
    margin: 10px auto 0 auto;
}

.addition.hidden {
    max-height: 0;
    overflow: hidden;
}

.users-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 960px;
    margin: auto;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1rem;
    color: #424968;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    min-height: 180px;
    padding-bottom: 0.5rem;
    margin: 45px 25px;
    overflow: hidden;
    
    border-radius: 0.5rem;
    background-color: #fff;
}

.addition {
    max-height: 70px;
    transition: max-height 0.15s ease-in-out;
}

.user__avatar {
    width: 120%;
    height: 68px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    box-shadow: 0px 2px 6px rgba(113, 116, 135, 0.2);
}

.user__name {
    margin-top: 12px;
}

.user__id, .user__createdAt {
    margin-top: 7px;

    font-size: 10px;
    color: #62667A
}

.btn-toggle::after {
    content: 'SHOW';
}

.btn-toggle_clicked.btn-toggle::after {
    content: 'HIDE';
}

.btn_primary {
    width: 55px;
    height: 30px;
    padding: 0.375rem 0.75rem;
    margin-top: 0.375rem;
    
    font-size: 0.6rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    user-select: none;
    border: 1px solid transparent;
    cursor: pointer;
}